$primaryFont: "Noto Sans", serif;
$light: 300;
$regular : 400;
$medium: 500;
$light-bold: 600;
$bold: 700;

@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: $primaryFont;
    margin: 0;
    padding: 0;
}

body {
    //* Fuentes
    font-family: $primaryFont !important;
    font-weight: $regular;
}

.nota {
    >* {
        padding: 0 40px;
        margin-bottom: 70px;
    }


    p, .blockipi-title {
        padding: 0;
        @include m.tablet{
            padding: 0 40px;
        }
    }
}

/**********************/

.blockipi-flex {
    display: flex;
}

.blockipi-flex-row{
    flex-direction: row;
}

.blockipi-flex-column{
    flex-direction: column;
}

.blockipi-align-center {
    align-items: center;
}

.blockipi-justify-center {
    justify-content: center;
}

.blockipi-flexwrap {
    flex-wrap: wrap;
}

.blockipi-padding-0 {
    padding: 0;
}

/**********************/

.blockipi-text {
    font-family: $primaryFont;
    font-size: 18px;
    font-weight: 300;
    line-height: clamp(30px, 5vw, 39px);
    color: black;
    padding: 0px 40px;
    max-width: 790px;
    font-style: normal;
    margin: 0rem auto 7rem;
    text-align: center;

    strong {
        font-weight: 700;
    }
}

.blockipi-title {
    color: #000;
    text-align: center;
    font-family: "Noto Sans";
    font-size: clamp(32px, 5vw, 50px);
    font-style: normal;
    font-weight: 300;
    line-height: clamp(42px, 5vw, 60px);
    /* 120% */
    margin: 0 auto;
}

.blockipi-fecha {
    display: block;
    color: #A3A3A3;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}

.blockipi-bottomsubtitle {
    display: inline-block;
    background-color: rgb(217, 226, 255);
    padding: 10px clamp(20px, 5vw, 60px);
    border-radius: 30px;

    > * {
        margin: 0;
        padding: 0;
    }

    p{
        line-height: normal;
    }
}

.blockipi-background-image {
    display: block;
    position: relative;

    background-repeat: no-repeat;

    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    padding: 0px 40px;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockipi-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}